<html>
<head>
    <meta charset="utf-8" />
    <style>
        body {
            background-color: #eeeeee;
        }
    </style>

</head>
<body>
    @RenderBody()
    <script src="/js/htmx.js"></script>
    <script src="/js/json-higlabo.js"></script>
</body>
</html>

