@model ApiEndpoint.TaskListModel
@{
    Layout = "/Pages/_Layout.cshtml";
}

<div>
    <a href="/task/add">Add new task</a>
</div>

<div id="filter-condition-panel">
    <input type="checkbox" name="DueDateNotNull" />
    <button hx-trigger="click" hx-post="/view/todo-list-panel"
            hx-include="#filter-condition-panel" hx-ext="json-higlabo"
            hx-target="#todo-list-container-panel" hx-swap="innerHTML">Load</button>
</div>
<div id="todo-list-container-panel" hx-trigger="load" hx-post="/view/todo-list-panel"
     hx-include="this" hx-ext="json-higlabo" 
     hx-target="#todo-list-container-panel" hx-swap="innerHTML"></div>


